body {
position: relative;


}
body::before {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: url("../images/street.jpg");
  /* background-color:silver; */
  background-attachment: fixed; 
  opacity: 0.2;
  content: "";
  z-index: -1;

}
nav, footer {
  background-color: #03224c;
}
#logo {  
  width:  200px;
  height: 40px;
  margin-top: 5px;
}
li {
  margin:5px;
} 
.fab {
  font-size: 25px;
  margin: 13.5px;
}

.inscription {

  background: rgb(242, 242, 242);
  /* color: rgb(9, 9, 150); */
    color: rgb(9, 9, 150);
}



